@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: var(--cor-azul-escuro);
}

:root{
    --cor-branco: #ffffff;
    --cor-azul-escuro:#101828;
    --cor-cinza:#98A2B3;
    --cor-cinza-escuro:#667085;
    --cor-cinza-claro:#F9FAFB;
    --cor-vermelho:#8E2424;

    --fundo-vermelho-trasparente: #C3191908;
    --borda-cinza-claro:#EAECF0; 
    --borda-cinza: #D0D5DD;
}

body{
    width: 100vw;
    height: 100vh;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
}

.menu .links a{
    justify-content: start;
    color: var(--cor-cinza-escuro);
    text-decoration: none;
    margin-right: 2rem;
}

.botoes button{
    color:var(--cor-cinza-escuro);
    padding: 0.8rem 1rem;
    cursor: pointer;
    background: none;
    border: none;
    border-radius: 0.5rem;
}

.botoes #cadastrar{
    background-color: var(--cor-vermelho);
    color:var(--cor-branco)
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container__sobre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 4em;
}

.container__sobre> .texto{
    color: var(--cor-vermelho);
    font-weight: 600;
    padding-bottom: 1.5rem;
}

.container__sobre> .titulo{
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 2rem;
}

.paragrafo{
    color: var(--cor-cinza-escuro);
    font-size: 20px;
    font-weight: 400;
    width: 53%;
}

.container__info{
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 2em;
   padding-top: 6em;
}

.info-texto span{
    color: var(--cor-vermelho);
    font-size: 60px;
    font-weight: 600;
    
}
.info-texto h3{
    font-size: 18px;
}

.info-texto p{
    color: var(--cor-cinza-escuro);
    font-weight: 400;
    padding-top: 1em;
    max-width: 17em;
}

.container__equipe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container__equipe> span{
    color: var(--cor-vermelho);
    background-color: var(--fundo-vermelho-trasparente);
    border-radius: 1em;
    padding: 0.5em;
    margin: 16em 0 1em 0;
    font-size: 14px;
}

.container__equipe> h2{
    font-size: 36px;
    font-weight: 600;
    padding: 0.2em 0 0.5em 0;
}

.container__equipe> p{
    padding-bottom: 3em;
}

.container__vagas{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    width: 35%;
}

.container__vagas> h2{
    font-size: 20px;
    padding-top: 3em;
}

.vagas-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid 0.1em var(--borda-cinza-claro);
    border-radius: 1em;
    padding: 1.5em;
}

.vagas-area> h3{
    font-size: 18px;
    padding-bottom: 1.5em;
}

.area-salario{
    display: flex;
    gap: 2em;
}

.area-salario> p{
    color: var(--cor-cinza-escuro);
}

.container__colaboradores{
    background-color: var(--fundo-vermelho-trasparente);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 3em;
    border-radius: 1em;
    width: 68%;
    margin: 6em;
}

.container__colaboradores>span{
    color: var(--cor-vermelho);
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 1.5em;
}

.container__colaboradores>h2{
    color: var(--cor-azul-escuro);
    font-size: 36px;
    padding-bottom: 1em;
}

.colaboradores-avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.colaboradores-avatar>img{
    width: 56px;
    padding-bottom: 1em;
}

.colaboradores-avatar> .nome{
    color: var(--cor-azul-escuro);
    padding-bottom: 0.5em;
}

.colaboradores-avatar> .profisao{
    color: var(--cor-cinza-escuro);
    font-size: 14px;
    font-weight: 400;
}

.container__acompanhe{
    background-color: var(--cor-cinza-claro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.container__acompanhe> h2{
    color: var(--cor-azul-escuro);
    font-size: 36px;
    font-weight: 600;
    padding: 3em 0 0.5em 0;
}

.container__acompanhe> p{
    color: var(--cor-cinza-escuro);
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 1.5em;
}

.container__acompanhe> .acompanhe-formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.acompanhe-formulario> #email{
    border: solid 0.1em var(--borda-cinza);
    border-radius: 0.5em; 
    color: var(--cor-cinza);
    font-weight: 400;
    width: 360px;
    margin-right: 1em;
    padding: 1em;
}

.acompanhe-formulario> button{
    background-color: var(--cor-vermelho);
    border: solid 1em var(--cor-vermelho);
    border-radius: 0.5em;
    color: var(--cor-branco);
    cursor: pointer;
}

.container__acompanhe> span{
    color: var(--cor-cinza);
    font-weight: 400;
    padding: 2em 0 5em 0;
}